@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700&display=swap");

$primary-color: #4e83ed;
$primary-text: #242424;
$gradient-left: #4959ec;
$gradient-right: #52a4ec;
$main-background: #fafbfc;
$white: #ffffff;
$green: #2fe49a;
$white-noise: rgb(238, 238, 238);
$yellow: #ffd256;